/bower_components/
/node_modules/
/.cache/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
bundle.js
# tempfiles
.#*
# # webpack splays purescript modules in dist. we don't want these to be
# # added, but we do want static assets to be added
# /dist/*
# !/dist/styles/
# /dist/styles/*map
# !/dist/examples/
# !/dist/fonts/
# !/dist/images/
# !/dist/js/
# # css source maps
# /dist/styles/*map
# production builds
/prod
/dce-output
/app.js
# docker
/.bash_history
/.lesshst
/dist/js/**/*.map
/dist/styles/**/*.map
