/// Main colors for CTAs
$c-primary  : #0275D8;
$c-secondary: #5BC0DE;
$c-tertiary : #a0bdd6;

/// Sassy Grayscale
/// @link https://sparkbox.com/foundry/sassy_grayscale
$white   : #FFFFFF;
$gray-99 : #FCFCFC;
$gray-98 : #FAFAFA;
$gray-97 : #F8F9F9;
$gray-96 : #F5F5F5;
$gray-95 : #EDEDED;
$gray-90 : #E3E3E3;
$gray-85 : #D9D9D9;
$gray-80 : #CCCCCC;
$gray-75 : #C0C0C0;
$gray-70 : #B0B0B0;
$gray-60 : #999999;
$gray-50 : #808080;
$gray-45 : #727272;
$gray-40 : #696969;
$gray-30 : #4D4D4D;
$gray-20 : #363636;
$gray-15 : #222222;
$gray-10 : #171717;
$black   : #000000;

/// State colours
/// Variables representing *signifier* values
/// ie. in one culture error colour can be symbolises in red,
/// in another it can be blue
$c-error      : #FF6740;
$c-success    : #6CB83A;
$c-info       : #4DA5A4;
$c-warning    : #FF934B;

/// Pastel colours
/// Variables representing *signified* values
/// ie. the colour of pastel green represented above is a universal
/// colour, independant from a context
/// These will be used for *skeuomorphic* representations
/// ie. if we want to develop a skeumorphic representation of the Stabilo marker
/// effect, we can use the pastel yellow to represent the colour (in real life)
/// of the yellow Stabilo marker
$pastel-green     : hsla(149, 46%, 41%, 1);
$pastel-blue      : hsla(206, 28%, 55%, 1);
$pastel-yellow    : hsla(60, 100%, 71%, 1);
$pastel-red       : hsla(3, 60%, 59%, 1);
$pastel-orange    : hsla(40, 89%, 75%, 1);
$pastel-purple    : hsla(278, 19%, 74%, 1);

/// Shadows
$shadow-regular     : 0 1px 3px 0 rgba(0, 0, 0, 0.5);
$shadow-discreet    : 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$shadow-leveled     : 0 2px 4px 0 rgba(0, 0, 0, 0.5);
