/// Most simple reset ever found
/// @link https://meiert.com/en/blog/stop-using-resets/#comment-240548
html{
  box-sizing: border-box;
  height: 100%
}

*,
:after,
:before{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit
}

::-moz-focus-inner{
  border: 0;
}

body{
  position:relative;
}

a{
  text-decoration: none;
  color: inherit
}

a:focus{
  outline: 0;
}

ul{
  list-style:none;
}

/// Opinionated box-sizing
/// @link https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/// Make images easier to work with
/// @link https://hankchizljaw.com/wrote/a-modern-css-reset/
img {
  max-width: 100%;
  display: block;
}
